<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.eric.demo.web.bill.dao.BillReportDetailDao" >
  <resultMap id="BaseResultMap" type="com.eric.demo.web.bill.domain.BillReportDetail" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="report_id" property="reportId" jdbcType="VARCHAR" />
    <result column="category_id" property="categoryId" jdbcType="VARCHAR" />
    <result column="total_amount" property="totalAmount" jdbcType="INTEGER" />
    <result column="is_del" property="isDel" jdbcType="INTEGER" />
    <result column="created_by" property="createdBy" jdbcType="VARCHAR" />
    <result column="created_date" property="createdDate" jdbcType="TIMESTAMP" />
    <result column="last_modified_by" property="lastModifiedBy" jdbcType="VARCHAR" />
    <result column="last_modified_date" property="lastModifiedDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, report_id, category_id, total_amount, is_del, created_by, created_date, last_modified_by, 
    last_modified_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.eric.demo.web.bill.domain.BillReportDetailCriteria" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_bill_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from t_bill_report_detail
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from t_bill_report_detail
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.eric.demo.web.bill.domain.BillReportDetailCriteria" >
    delete from t_bill_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.eric.demo.web.bill.domain.BillReportDetail" >
    insert into t_bill_report_detail (id, report_id, category_id, 
      total_amount, is_del, created_by, 
      created_date, last_modified_by, last_modified_date
      )
    values (#{id,jdbcType=VARCHAR}, #{reportId,jdbcType=VARCHAR}, #{categoryId,jdbcType=VARCHAR}, 
      #{totalAmount,jdbcType=INTEGER}, #{isDel,jdbcType=INTEGER}, #{createdBy,jdbcType=VARCHAR}, 
      #{createdDate,jdbcType=TIMESTAMP}, #{lastModifiedBy,jdbcType=VARCHAR}, #{lastModifiedDate,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.eric.demo.web.bill.domain.BillReportDetail" >
    insert into t_bill_report_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="reportId != null" >
        report_id,
      </if>
      <if test="categoryId != null" >
        category_id,
      </if>
      <if test="totalAmount != null" >
        total_amount,
      </if>
      <if test="isDel != null" >
        is_del,
      </if>
      <if test="createdBy != null" >
        created_by,
      </if>
      <if test="createdDate != null" >
        created_date,
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by,
      </if>
      <if test="lastModifiedDate != null" >
        last_modified_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="reportId != null" >
        #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedDate != null" >
        #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.eric.demo.web.bill.domain.BillReportDetailCriteria" resultType="java.lang.Integer" >
    select count(*) from t_bill_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update t_bill_report_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=VARCHAR},
      </if>
      <if test="record.reportId != null" >
        report_id = #{record.reportId,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null" >
        category_id = #{record.categoryId,jdbcType=VARCHAR},
      </if>
      <if test="record.totalAmount != null" >
        total_amount = #{record.totalAmount,jdbcType=INTEGER},
      </if>
      <if test="record.isDel != null" >
        is_del = #{record.isDel,jdbcType=INTEGER},
      </if>
      <if test="record.createdBy != null" >
        created_by = #{record.createdBy,jdbcType=VARCHAR},
      </if>
      <if test="record.createdDate != null" >
        created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastModifiedBy != null" >
        last_modified_by = #{record.lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="record.lastModifiedDate != null" >
        last_modified_date = #{record.lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update t_bill_report_detail
    set id = #{record.id,jdbcType=VARCHAR},
      report_id = #{record.reportId,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=VARCHAR},
      total_amount = #{record.totalAmount,jdbcType=INTEGER},
      is_del = #{record.isDel,jdbcType=INTEGER},
      created_by = #{record.createdBy,jdbcType=VARCHAR},
      created_date = #{record.createdDate,jdbcType=TIMESTAMP},
      last_modified_by = #{record.lastModifiedBy,jdbcType=VARCHAR},
      last_modified_date = #{record.lastModifiedDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.eric.demo.web.bill.domain.BillReportDetail" >
    update t_bill_report_detail
    <set >
      <if test="reportId != null" >
        report_id = #{reportId,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null" >
        category_id = #{categoryId,jdbcType=VARCHAR},
      </if>
      <if test="totalAmount != null" >
        total_amount = #{totalAmount,jdbcType=INTEGER},
      </if>
      <if test="isDel != null" >
        is_del = #{isDel,jdbcType=INTEGER},
      </if>
      <if test="createdBy != null" >
        created_by = #{createdBy,jdbcType=VARCHAR},
      </if>
      <if test="createdDate != null" >
        created_date = #{createdDate,jdbcType=TIMESTAMP},
      </if>
      <if test="lastModifiedBy != null" >
        last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      </if>
      <if test="lastModifiedDate != null" >
        last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.eric.demo.web.bill.domain.BillReportDetail" >
    update t_bill_report_detail
    set report_id = #{reportId,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=VARCHAR},
      total_amount = #{totalAmount,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=INTEGER},
      created_by = #{createdBy,jdbcType=VARCHAR},
      created_date = #{createdDate,jdbcType=TIMESTAMP},
      last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR},
      last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.eric.demo.web.bill.domain.BillReportDetailCriteria" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_bill_report_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <update id="logicDeleteById" parameterType="java.lang.String" >
    update t_bill_report_detail 
 	set is_del=1 
 		where id=#{id,jdbcType=VARCHAR}
  </update>
  <sql id="Base_Query_Map_Condition" >
    <trim prefix="where" prefixOverrides="and | or" >
      <if test="id != null" >
         AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="reportId != null" >
         AND report_id = #{reportId,jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null" >
         AND category_id = #{categoryId,jdbcType=VARCHAR}
      </if>
      <if test="totalAmount != null" >
         AND total_amount = #{totalAmount,jdbcType=INTEGER}
      </if>
      <if test="isDel != null" >
         AND is_del = #{isDel,jdbcType=INTEGER}
      </if>
      <if test="createdBy != null" >
         AND created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null" >
         AND created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastModifiedBy != null" >
         AND last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastModifiedDate != null" >
         AND last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="myGreater_id != null" >
         AND id &gt; #{myGreater_id,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_reportId != null" >
         AND report_id &gt; #{myGreater_reportId,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_categoryId != null" >
         AND category_id &gt; #{myGreater_categoryId,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_totalAmount != null" >
         AND total_amount &gt; #{myGreater_totalAmount,jdbcType=INTEGER}
      </if>
      <if test="myGreater_isDel != null" >
         AND is_del &gt; #{myGreater_isDel,jdbcType=INTEGER}
      </if>
      <if test="myGreater_createdBy != null" >
         AND created_by &gt; #{myGreater_createdBy,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_createdDate != null" >
         AND created_date &gt; #{myGreater_createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="myGreater_lastModifiedBy != null" >
         AND last_modified_by &gt; #{myGreater_lastModifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="myGreater_lastModifiedDate != null" >
         AND last_modified_date &gt; #{myGreater_lastModifiedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="myLesser_id != null" >
         AND id &lt; #{myLesser_id,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_reportId != null" >
         AND report_id &lt; #{myLesser_reportId,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_categoryId != null" >
         AND category_id &lt; #{myLesser_categoryId,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_totalAmount != null" >
         AND total_amount &lt; #{myLesser_totalAmount,jdbcType=INTEGER}
      </if>
      <if test="myLesser_isDel != null" >
         AND is_del &lt; #{myLesser_isDel,jdbcType=INTEGER}
      </if>
      <if test="myLesser_createdBy != null" >
         AND created_by &lt; #{myLesser_createdBy,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_createdDate != null" >
         AND created_date &lt; #{myLesser_createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="myLesser_lastModifiedBy != null" >
         AND last_modified_by &lt; #{myLesser_lastModifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="myLesser_lastModifiedDate != null" >
         AND last_modified_date &lt; #{myLesser_lastModifiedDate,jdbcType=TIMESTAMP}
      </if>
      <if test="myLike_id != null" >
         AND id like CONCAT('%', #{myLike_id,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_reportId != null" >
         AND report_id like CONCAT('%', #{myLike_reportId,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_categoryId != null" >
         AND category_id like CONCAT('%', #{myLike_categoryId,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_totalAmount != null" >
         AND total_amount like CONCAT('%', #{myLike_totalAmount,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLike_isDel != null" >
         AND is_del like CONCAT('%', #{myLike_isDel,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLike_createdBy != null" >
         AND created_by like CONCAT('%', #{myLike_createdBy,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_createdDate != null" >
         AND created_date like CONCAT('%', #{myLike_createdDate,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myLike_lastModifiedBy != null" >
         AND last_modified_by like CONCAT('%', #{myLike_lastModifiedBy,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLike_lastModifiedDate != null" >
         AND last_modified_date like CONCAT('%', #{myLike_lastModifiedDate,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myLikeStart_id != null" >
         AND id like CONCAT('%', #{myLikeStart_id,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_reportId != null" >
         AND report_id like CONCAT('%', #{myLikeStart_reportId,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_categoryId != null" >
         AND category_id like CONCAT('%', #{myLikeStart_categoryId,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_totalAmount != null" >
         AND total_amount like CONCAT('%', #{myLikeStart_totalAmount,jdbcType=INTEGER})
      </if>
      <if test="myLikeStart_isDel != null" >
         AND is_del like CONCAT('%', #{myLikeStart_isDel,jdbcType=INTEGER})
      </if>
      <if test="myLikeStart_createdBy != null" >
         AND created_by like CONCAT('%', #{myLikeStart_createdBy,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_createdDate != null" >
         AND created_date like CONCAT('%', #{myLikeStart_createdDate,jdbcType=TIMESTAMP})
      </if>
      <if test="myLikeStart_lastModifiedBy != null" >
         AND last_modified_by like CONCAT('%', #{myLikeStart_lastModifiedBy,jdbcType=VARCHAR})
      </if>
      <if test="myLikeStart_lastModifiedDate != null" >
         AND last_modified_date like CONCAT('%', #{myLikeStart_lastModifiedDate,jdbcType=TIMESTAMP})
      </if>
      <if test="myLikeEnd_id != null" >
         AND id like CONCAT( #{myLikeEnd_id,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_reportId != null" >
         AND report_id like CONCAT( #{myLikeEnd_reportId,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_categoryId != null" >
         AND category_id like CONCAT( #{myLikeEnd_categoryId,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_totalAmount != null" >
         AND total_amount like CONCAT( #{myLikeEnd_totalAmount,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLikeEnd_isDel != null" >
         AND is_del like CONCAT( #{myLikeEnd_isDel,jdbcType=INTEGER},'%' )
      </if>
      <if test="myLikeEnd_createdBy != null" >
         AND created_by like CONCAT( #{myLikeEnd_createdBy,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_createdDate != null" >
         AND created_date like CONCAT( #{myLikeEnd_createdDate,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myLikeEnd_lastModifiedBy != null" >
         AND last_modified_by like CONCAT( #{myLikeEnd_lastModifiedBy,jdbcType=VARCHAR},'%' )
      </if>
      <if test="myLikeEnd_lastModifiedDate != null" >
         AND last_modified_date like CONCAT( #{myLikeEnd_lastModifiedDate,jdbcType=TIMESTAMP},'%' )
      </if>
      <if test="myIn_id != null" >
         AND id in <foreach item="item" index="index" collection="myIn_id" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_reportId != null" >
         AND report_id in <foreach item="item" index="index" collection="myIn_reportId" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_categoryId != null" >
         AND category_id in <foreach item="item" index="index" collection="myIn_categoryId" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_totalAmount != null" >
         AND total_amount in <foreach item="item" index="index" collection="myIn_totalAmount" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_isDel != null" >
         AND is_del in <foreach item="item" index="index" collection="myIn_isDel" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_createdBy != null" >
         AND created_by in <foreach item="item" index="index" collection="myIn_createdBy" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_createdDate != null" >
         AND created_date in <foreach item="item" index="index" collection="myIn_createdDate" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_lastModifiedBy != null" >
         AND last_modified_by in <foreach item="item" index="index" collection="myIn_lastModifiedBy" open="(" separator="," close=")"> #{item} </foreach>
      </if>
      <if test="myIn_lastModifiedDate != null" >
         AND last_modified_date in <foreach item="item" index="index" collection="myIn_lastModifiedDate" open="(" separator="," close=")"> #{item} </foreach>
      </if>
    </trim>
  </sql>
  <sql id="Base_Query_Vo_Condition" >
    <trim prefix="where" prefixOverrides="and | or" >
      <if test="id != null" >
         AND id = #{id,jdbcType=VARCHAR}
      </if>
      <if test="reportId != null" >
         AND report_id = #{reportId,jdbcType=VARCHAR}
      </if>
      <if test="categoryId != null" >
         AND category_id = #{categoryId,jdbcType=VARCHAR}
      </if>
      <if test="totalAmount != null" >
         AND total_amount = #{totalAmount,jdbcType=INTEGER}
      </if>
      <if test="isDel != null" >
         AND is_del = #{isDel,jdbcType=INTEGER}
      </if>
      <if test="createdBy != null" >
         AND created_by = #{createdBy,jdbcType=VARCHAR}
      </if>
      <if test="createdDate != null" >
         AND created_date = #{createdDate,jdbcType=TIMESTAMP}
      </if>
      <if test="lastModifiedBy != null" >
         AND last_modified_by = #{lastModifiedBy,jdbcType=VARCHAR}
      </if>
      <if test="lastModifiedDate != null" >
         AND last_modified_date = #{lastModifiedDate,jdbcType=TIMESTAMP}
      </if>
    </trim>
  </sql>
  <select id="findList" parameterType="map" resultMap="BaseResultMap" >
      select <include refid='Base_Column_List' /> 
	 from t_bill_report_detail 
 	 <include refid='Base_Query_Map_Condition' />
  </select>
  <select id="findByVo" parameterType="com.eric.demo.web.bill.domain.BillReportDetail" resultMap="BaseResultMap" >
      select <include refid='Base_Column_List' /> 
	 from t_bill_report_detail 
 	 <include refid='Base_Query_Vo_Condition' />
  </select>
</mapper>